html {
    height: 100%; 
    width: 100%; 
    margin: 0;    
}

body {
    width: 100%;
    height: 100%;
    background-color: #FFF; 
    margin: 0;
    overflow-x: hidden;
}

div {
/*    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-origin: padding-box;
    -moz-background-origin: padding;
    background-origin: padding-box;
    display: block;*/
}

.wrap {
    position: relative;
    margin: 0 auto;
    width: 88%;
    max-width: 714px;
    min-width: 714px;
    z-index: 1;
}

.parallax-viewport {
    width: 100%;
    max-width: 714px;
    height: 714px;
    position: relative;
    background-color: #FFF;
}

.parallax-layer {
    position: absolute;
}

#content {
    background-color: #000;
    border: 1px solid #dadada;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 2px -1px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 1px 2px -1px rgba(0,0,0,0.25);
    box-shadow: 0 1px 2px -1px rgba(0,0,0,0.25);
    padding-top: 25px;
    margin-bottom: 90px;
}

.main-footer {
    left: 0;
    width: 100%;
    background: #515151 url("../images/bg-footer.jpg") repeat top left;
    padding: 30px 0 20px 0;
    -webkit-box-shadow: 0 2px 8px rgba(0,0,0,.3) inset;
    -moz-box-shadow: 0 2px 8px rgba(0,0,0,.3) inset;
    box-shadow: 0 2px 8px rgba(0,0,0,.3) inset;
    font-family: "Comic Sans MS", cursive, sans-serif !important;
}

.main-footer .map {
    background: transparent url('../images/spacer-footer.png') no-repeat bottom center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.main-footer .map > * {
    vertical-align: top;
}

.main-footer a {
    color: #808080;
    font-family: "Kievit Light",Helvetica,Arial,Verdana,sans-serif;
    font-size: 12px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.7);
    text-decoration: none;
}

.main-footer a:hover {
    color:#aaa;
    font-family: "Kievit Light",Helvetica,Arial,Verdana,sans-serif;
    font-size: 12px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.7);
    text-decoration: none;
}

.main-footer h4 {
    font-size: 20px;
    color: #808080;
    text-align: left;
}

.footer-list {
    list-style: none;
    margin: 0;
}

.footer-list li {
    line-height: 22px;
    display: list-item;
    text-align: -webkit-match-parent;
    color: #808080;
}

#head_scrollbar {
    width: 715px;
    height: 115px;
    padding: 0 10px;
    background-color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=88)";
    filter: alpha(opacity = 88);
    opacity: 0.88;
    font-family: "Comic Sans MS", cursive, sans-serif !important;
}

#head_scrollbar h1 {

}

#head_scrollbar h2 {
    font-size: 14px;
}

#head_scrollbar h2 a{
    font-size: 14px;
}

#head_scrollbar h2 a:hover {
    font-size: 14px;
}

#scrollbox3 {
    overflow: auto;
    width: 715px;
    height: 450px;
    padding: 0 5px;
    background-color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=92)";
    filter: alpha(opacity = 92);
    opacity: 0.92;
    font-family: "Comic Sans MS", cursive, sans-serif !important;
}

.track3 {
    width: 10px;
    background: rgba(0, 0, 0, 0);
    margin-right: 2px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
}

.track3:hover,
.track3.dragging {
    background: #d9d9d9; /* Browsers without rgba support */
    background: rgba(0, 0, 0, 0.15);
}

.handle3 {
    width: 7px;
    right: 0;
    background: #999;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    -webkit-transition: width 250ms;
    transition: width 250ms;
}

.track3:hover .handle3,
.track3.dragging .handle3 {
    width: 10px;
}

#scrollbox3 h3 {
    font-size: 14px;
    margin: 0;
    line-height: 14px;
}

#scrollbox3 h3 a{
    font-size: 14px;
}

#scrollbox3 h3 a:hover {
    font-size: 14px;
}

#scrollbox3 h4 {
    font-size:12px; 
    color:#999;
    line-height: 12px;
}

#scrollbox3 p {
    padding: 10px;
    margin: 0;
    text-indent: 50px;
    text-align: justify;
}

.more_details {
    text-align: right !important;
}

.logo_concept img {
    border: 1px solid #dadada;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 2px -1px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 1px 2px -1px rgba(0,0,0,0.25);
    box-shadow: 0 1px 2px -1px rgba(0,0,0,0.25);
}