.levy_top_1{	
	display: block;	
	overflow: hidden;		
	height: 1px;	
	font-size: 1px;	
	margin-left:6px;  	
	margin-right:6px;		
	background-color: #000000;
}
.levy_top_2{  	
	display: block;	
	overflow: hidden;		
	height: 1px;	
	font-size: 1px;	
	margin-left:4px;  
	margin-right:4px;	
	border-left: solid 2px #000000;	
	border-right: solid 2px #000000;	
	background-color: #FFFFFF;
}
.levy_top_3{  	
	display: block;	
	overflow: hidden;		
	height: 1px;	
	font-size: 1px;	
	margin-left:3px;  	
	margin-right:3px;	
	border-left: solid 1px #000000;	
	border-right: solid 1px #000000;	
	background-color: #FFFFFF;
}
.levy_top_4{  	
	display: block;	
	overflow: hidden;		
	height: 1px;	
	font-size: 1px;	
	margin-left:2px;  
	margin-right:2px;	
	border-left: solid 1px #000000;	
	border-right: solid 1px #000000;	
	background-color: #FFFFFF;
}
.levy_top_5{  	
	display: block;	
	overflow: hidden;		
	height: 1px;	
	font-size: 1px;	margin-left:1px;  	
	margin-right:1px;	
	border-left: solid 1px #000000;	
	border-right: solid 1px #000000;	
	background-color: #FFFFFF;
}
.levy_top_6{  	
	display: block;	
	overflow: hidden;		
	height: 1px;	
	font-size: 1px;	
	margin-left:1px;  	
	margin-right:1px;	
	border-left: solid 1px #000000;	
	border-right: solid 1px #000000;	
	background-color: #FFFFFF;
}
.levy_top_7{  	
	display: block;	
	overflow: hidden;		
	height: 1px;	
	font-size: 1px;	
	margin-left:0px;  	
	margin-right:0px;	
	border-left: solid 1px #000000;	
	border-right: solid 1px #000000;	
	background-color: #FFFFFF;
}
.levy_top_8{  	
	display: block;	
	overflow: hidden;		
	height: 1px;	
	font-size: 1px;	
	margin-left:0px;  	
	margin-right:0px;	
	border-left: solid 1px #000000;	
	border-right: solid 1px #000000;	
	background-color: #FFFFFF;
}
.levy_top_9{  	
	display: block;	
	overflow: hidden;		
	height: 1px;	
	font-size: 1px;	
	margin-left:0px;  	
	margin-right:0px;	
	border-left: solid 1px #000000;	
	border-right: solid 1px #000000;	
	background-color: #FFFFFF;
}
.levy_top_10{  	
	display: block;	
	overflow: hidden;		
	height: 1px;	
	font-size: 1px;	
	margin-left:0px;  	
	margin-right:0px;	
	border-left: solid 1px #000000;	
	border-right: solid 1px #000000;	
	background-color: #FFFFFF;
}
.levy_content{  	
	background-color: #FFFFFF;  	
	border-left:1px solid #000000;  	
	border-right:1px solid #000000;	
	margin-left:0px;  	
	margin-right:0px;
}
.levy_content_txt{  	
	background-color: #FFFFFF;  	
	border-left:1px solid #000000;  	
	border-right:1px solid #000000;	
	margin-left:0px;  	
	margin-right:0px;	
	padding:5px; 	
}
.levy_all_content{  	
	margin-left:0px;  	
	margin-right:0px;
}