        <div class="navbar navbar-fixed-top navbar-inverse to-hide">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <div class="nav-collapse collapse">
                        <ul id="main_menu" class="nav">
                            <li class="open_home opener">
                                <a href="#home">Acasa</a>
                            </li>
                            <li class="dropdown open_portofoliu">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Portofoliu <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="opener"><a href="#portofoliu-dezvoltare-web">Dezvoltare web</a></li>
                                    <li class="opener"><a href="#portofoliu-concept-logo">Concept logo</a></li>
                                </ul>
                            </li>
                            <li class="dropdown open_servicii">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Servicii <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="opener"><a href="#servicii-dezvoltare-web">Dezvoltare web</a></li>
                                    <li class="opener"><a href="#servicii-print">Print</a></li>
                                    <li class="opener"><a href="#servicii-branding">Branding</a></li>
                                    <li class="opener"><a href="#servicii-creatie-grafica">Creatie grafica</a></li>
                                    <li class="opener"><a href="#servicii-manipulare-foto">Manipulare foto</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="to-hide" style="position: fixed; top: 48px; left: 30px; z-index: 10000;">
            <img src="images/sigla_leviatan_WE_DO_IT_ALL.png" alt="" />
        </div>