         <div class="main-footer to-hide" id="main_footer">
            <div class="map">
                <div style="display:inline-block; text-align: left;">
                    <h4>Portofoliu</h4>
                    <ul class="footer-list">
                        <li class="opener"><a href="#portofoliu-dezvoltare-web">Dezvoltare web</a></li>
                        <li class="opener"><a href="#portofoliu-concept-logo">Concept logo</a></li>
                    </ul>
                </div>

                <div style="display:inline-block; text-align: left; margin-left: 50px;">
                    <h4>Servicii</h4>
                    <ul class="footer-list">
                        <li class="opener"><a href="#servicii-dezvoltare-web">Dezvoltare web</a></li>
                        <li class="opener"><a href="#servicii-print">Print</a></li>
                        <li class="opener"><a href="#servicii-branding">Branding</a></li>
                        <li class="opener"><a href="#servicii-creatie-grafica">Creatie grafica</a></li>
                        <li class="opener"><a href="#servicii-manipulare-foto">Manipulare foto</a></li>
                    </ul>
                </div>

                <div style="display:inline-block; text-align: left; margin-left: 50px;">
                    <h4>Contact</h4>
                    <ul class="footer-list">
                        <li>E-mail:
                            <br>
                            <a href="mailto:marius.postolache@leviatan.ro?Subject=Message%20from%20leviatan%20web%20user" target="_top">marius.postolache@leviatan.ro</a>
                            <br>
                            <a href="mailto:raluca.postolache@leviatan.ro?Subject=Message%20from%20leviatan%20web%20user" target="_top">raluca.postolache@leviatan.ro</a>
                        </li>
                        <li>Telefon:
                            <br>
                            +40 / 766 516 827
                            <br>
                            +40 / 769 293 099
                        </li>
                    </ul>
                </div>
            </div>
        </div>