        <div class="wrap to-hide">
            <div class="parallax-viewport" id="parallax">
                <!-- parallax layers -->
                <div class="parallax-layer" style="width:714px; height:714px; opacity:0.2; filter:alpha(opacity=20);">
                    <img src="images/imgs/bg.png" alt=""/>
                </div>

                <div class="parallax-layer" style="width:724px; height:724px; opacity:0.25; filter:alpha(opacity=25);">
                    <img src="images/imgs/asterisk.png" alt="" style="position: absolute; left: 50px; top: 200px;"/>
                    <img src="images/imgs/Raspberry_Pi_Logo.png" alt="" style="position: absolute; left: 550px; top: 200px;"/>
                </div>

                <div class="parallax-layer" style="width:734px; height:734px; opacity:0.3; filter:alpha(opacity=30);">
                    <img src="images/imgs/TortoiseCVS_Logo.png" alt="" style="position: absolute; left: 50px; top: 50px;"/>
                    <img src="images/imgs/Octocat.png" alt="" style="position: absolute; left: 500px; top: 50px;"/>
                </div>

                <div class="parallax-layer" style="width:744px; height:744px; opacity:0.35; filter:alpha(opacity=35);">
                    <img src="images/imgs/php.png" alt="" style="position: absolute; left: 20px; top: 20px;"/>
                    <img src="images/imgs/Python-logo.png" alt="" style="position: absolute; left: 450px; top: 20px;"/>
                    <img src="images/imgs/nodejs.png" alt="" style="position: absolute; left: 240px; top: 120px;"/>
                    <img src="images/imgs/rabbitmq.png" alt="" style="position: absolute; left: 170px; top: 400px;"/>
                    <img src="images/imgs/nginx.png" alt="" style="position: absolute; left: 150px; top: 600px;"/>
                    <img src="images/imgs/apache.png" alt="" style="position: absolute; left: 400px; top: 600px;"/>
                </div>

                <div class="parallax-layer" style="width:754px; height:754px; opacity:0.4; filter:alpha(opacity=40);">
                    <img src="images/imgs/elasticsearch.png" alt="" style="position: absolute; left: 260px; top: 540px;"/>
                    <img src="images/imgs/elephant.png" alt="" style="position: absolute; left: 20px; top: 370px;"/>
                    <img src="images/imgs/zookeeper_logo.png" alt="" style="position: absolute; left: 570px; top: 470px;"/>
                    <img src="images/imgs/couchbase_logo_final.png" alt="" style="position: absolute; left: 20px; top: 570px;"/>
                    <img src="images/imgs/cassandra_logo.png" alt="" style="position: absolute; left: 570px; top: 370px;"/>
                    <img src="images/imgs/Mysql.png" alt="" style="position: absolute; left: 570px; top: 460px;"/>
                </div>

                <div class="parallax-layer" style="width:764px; height:764px; opacity:0.45; filter:alpha(opacity=45);">
                    <img src="images/imgs/Chrome_icon.png" alt="" style="position: absolute; left: 280px; top: 50px;"/>
                    <img src="images/imgs/firefox-512-noshadow.png" alt="" style="position: absolute; left: 440px; top: 130px;"/>
                    <img src="images/imgs/Internet_Explorer_7_Logo.png" alt="" style="position: absolute; left: 530px; top: 270px;"/>
                    <img src="images/imgs/Opera_O.png" alt="" style="position: absolute; left: 110px; top: 470px;"/>
                    <img src="images/imgs/safari.png" alt="" style="position: absolute; left: 440px; top: 470px;"/>
                    <img src="images/imgs/Android_robot.png" alt="" style="position: absolute; left: 80px; top: 270px;"/>
                    <img src="images/imgs/apple.png" alt="" style="position: absolute; left: 140px; top: 130px;"/>
                </div>

                <div class="parallax-layer" style="width:774px; height:774px; opacity:0.5; filter:alpha(opacity=50);">
                    <img src="images/imgs/HTML5_Logo_512.png" alt="" style="position: absolute; left: 10px; top: 80px;"/>
                    <img src="images/imgs/CSS3.png" alt="" style="position: absolute; left: 620px; top: 80px;"/>
                    <img src="images/imgs/JavaScript-logo.png" alt="" style="position: absolute; left: 280px; top: 210px;"/>
                    <img src="images/imgs/prototypejs_org_02.png" alt="" style="position: absolute; left: 170px; top: 300px;"/>
                    <img src="images/imgs/Scriptaculous_logo.png" alt="" style="position: absolute; left: 170px; top: 380px;"/>
                    <img src="images/imgs/jquery.png" alt="" style="position: absolute; left: 380px; top: 300px;"/>
                    <img src="images/imgs/underscore.png" alt="" style="position: absolute; left: 270px; top: 360px;"/>
                    <img src="images/imgs/backbone.png" alt="" style="position: absolute; left: 370px; top: 390px;"/>
                </div>
            </div>
        </div>