<p>
    Desi cunoastem semnificatia cuvantului Leviatan asa cum se face referire in Vechiul Testament (Psalmul 74:13-14), si anume creatura marina biblica, 
    optiunea noastra nu s-a bazat pe aceasta perceptie a cuvantului in discutie. 
    Alegerea numelui companiei isi are originea in simbolistica lucrarii fundamentale a filozofului englez Thomas Hobbes, Leviatanul. 
    Incapabili sa se  bazeze la nesfarsit pe puterile lor individuale in efortul de a asigura  trainicie si multumire, 
    Hobbes a teoretizat ideea ca oamenii se unesc in formarea unui grup (commonwealth). 
    Astfel, acest grup ca unitate intruchipeaza o retea de contracte asociate si devine cea mai inalta forma de organizare sociala.
    Din perspectiva lui Hobbes, formarea acestei unitati creeaza o entitate noua, artificiala (Leviatanul),
    careia ii sunt incredintate toate responsabilitatile privind ordinea sociala si bunastarea publica.
</p>
<p>
    Imprumutand conceptia filozofului englez, am mers mai departe cu metafora, transformand aceasta imagine, in contextul lumii moderne 
    in care traim si ne desfasuram activitatea, in cea a unei constructii economice complexe ce poate sa cuprinda toate domeniile pe care, 
    cu modestie, dorim sa le acoperim.
</p>