<table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
        <td align="center" valign="top"><img src="images/portofoliu/ummagumma_details.jpg" alt="" title="" border="0"/></td>
    </tr>
    <tr>
        <td align="center" valign="top">
            <p>&quot;Ummagumma marcheaza inceputul fandoseliculturii. Cultura hainelor 
                si a fandoselilor. Cultura hainelor create de tineri creatori, 
                serie mica sau unicat.&quot;...<a href="http://ummagumma.ro/" rel="nofollow" target="_blank">Vezi tot articolul</a></p>
            <p>Adresa website: <a href="http://ummagumma.ro/" rel="nofollow" target="_blank">www.ummagumma.ro</a></p>
        </td>
    </tr>
</table>
