<table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
        <td align="center" valign="top"><img src="images/portofoliu/la_carnaval_details.jpg" alt="" title="" border="0"/></td>
    </tr>
    <tr>
        <td align="center" valign="top">
            <p>Datorita numarului in crestere a cererilor de inchiriere a costumelor de 
                carnaval din anul 2009, &quot;Hai cu noi la carnaval&quot; a hotarat 
                sa-si mareasca piata de desfacere, optand astfel pentru realizarea unui 
                webite de prezentare a costumelor realizate si a ofertei sale.</p>
            <p>Adresa website: <a href="http://lacarnaval.leviatan.ro" rel="nofollow" target="_blank">lacarnaval.leviatan.ro</a></p>
        </td>
    </tr>
</table>
