<table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
        <td align="center" valign="top"><img src="images/portofoliu/focus_energetic_details.jpg" alt="" title="" border="0"/></td>
    </tr>
    <tr>
        <td align="center" valign="top">
            <p>Webite-ul a fost dezvoltat cu scopul promovarii conferintei internationale 
                Focus Energetic Seminar &quot;Energy and its Influences in Economy&quot;, 
                ce a avut loc la Roma, Italia, in perioada 15 - 18 octombrie 2008.</p>
            <p>Adresa website: <a href="http://focusenergetic.leviatan.ro/" rel="nofollow" target="_blank">focusenergetic.leviatan.ro</a></p>
        </td>
    </tr>
</table>
