<table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
        <td align="center" valign="top"><img src="images/portofoliu/asociatia_scoala_succesului_details.jpg" alt="" title="" border="0"/></td>
    </tr>
    <tr>
        <td align="center" valign="top">
            <p>&quot;Impreuna pentru SUCCES.</p>
            <p>SUCCESUL se invata.</p>
            <p>Hai sa ne antrenam pentru SUCCES.</p>
            <p>SUCCESUL consta in primul rand in A FI, nu doar A FACE!</p>
            <p>Conteaza nu doar SA FACI ceva, ci si CUM FACI acel ceva!&quot;</p>
            <p>Adresa website: <a href="http://scoalasuccesului.leviatan.ro" rel="nofollow" target="_blank">scoalasuccesului.leviatan.ro</a></p>
        </td>
    </tr> 
</table>
