<table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
        <td align="center" valign="top"><img src="images/portofoliu/olarit_details.jpg" alt="" title="" border="0"/></td>
    </tr>
    <tr>
        <td align="center" valign="top">
            <p>&quot;Olaritul este o ocupatie straveche ce se practica inca din 
                vremuri stravechi, marturie stand frumoasele vase de ceramica 
                din epoca neolitica, epoca in care pe teritoriul Romaniei s-a 
                dezvoltat o civilizatie remarcabila.&quot;</p>
        </td>
    </tr>
</table>
