<table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
        <td align="center" valign="top"><img src="images/portofoliu/amelia_ursache_details.jpg" alt="" title="" border="0"/></td>
    </tr>
    <tr>
        <td align="center" valign="top">
            <p>&quot;Nascuta in 1973 in Romania, <strong>Amelia Ursache</strong> 
                si-a facut cunoscut numele in lumea modei prin stilul sau rebel si 
                plin de glamour, reliefat intr-un numar de colectii de succes 
                create sub marca ce ii poarta numele.</p>
            <p>Inca din timpul celor cei 6 ani de studii la Academia de Arte 
                Plastice si Decorative din Bucuresti, participarea Ameliei la diferite 
                concursuri de design vestimentar a fost recunoscuta in presa 
                internationala si distinsa cu o serie de premii de specialitate.</p>   
            <p>In 1998, colectia &ldquo;Univers de sinonime&rdquo; a reprezentat Romania
                la Londra, fiind premiata de revista &ldquo;ELLE&rdquo; si tot in 
                acelasi an a obtinut premiul pentru cel mai bun debut si un alt 
                premiu in cadrul concursului &rdquo;Tinarul Designer&rdquo;.</p>
            <p>La varsta de 19 ani si-a deschis atelier in Craiova, vanzand primele 
                colectii in magazinul propriu si alte citeva   buticuri de moda din Bucuresti.</p>
            <p>Designerul si-a consacrat numele la Stockholm, in Suedia, tara unde locuieste 
                de mai multi ani.</p>
            <p>Si-a dobandit experienta in casa de moda Lars Wallin si lucrand pentru 
                companiile H&amp;M, Lindex si Livstycket, dar popularitatea si-a 
                cucerit-o la sfarsitul anului 2003, cand Amelia a devenit protagonista 
                unuia dintre cele mai audiate programe TV din perioada respectiva: 
                &ldquo;FASHION HOUSE&rdquo;. In acest program filmat la Roma si difuzat 
                timp de 4 sapt&auml;mani in tarile din Scandinavia si Europa Centrala, 
                Amelia si-a demonstrat calitatile sale artistice intr-o atmosfera cu 
                totul profesionala, creata de prezenta unora dintre cei mai prestigiosi 
                designeri: Valentino, Donatella Versace, Disquared, Antonio Berardi 
                si Costume National.</p>
            <p>Incepand din 2004, la sfatul designerului italian Valentino, 
                Amelia a pus bazele propriului brand AMELIA URSACHE, creand 
                colectii in serie mica, produse in Romania si promovate in 
                nenumarate prezentari si expozitii internationale.&quot;...
                <a href="http://www.stilfeminin.ro/Designeri/Amelia-Ursache.html" rel="nofollow" target="_blank">Vezi tot articolul</a>
            </p>
            <p>Astfel a aparut proiectul www.amelia-ursache.com. Din pacate, acesta 
                nu a fost realizat de Web Leviatan, rolul nostru venind abia, 
                in iulie 2010, moment in care Amelia a avut nevoie de o serie de 
                modificari la website, iar noi i-am fost recomandati de Oana-Maria Necula, 
                o veche colaboratoare de a noastra (www.ummagumma.ro, www.atelierimage.ro, 
                www.lakroitoria.ro). Modificarile au constat in adaugarea unei noi colectii, 
                &quot;Phoenix&quot;, cateva actualizari de continut si adaugarea unor 
                noi functionalitati website-ului.</p>
            <p>Adresa website: <a href="http://www.amelia-ursache.com" rel="nofollow" target="_blank">www.amelia-ursache.com</a></p>
        </td>
    </tr>
</table>
