<table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
        <td align="center" valign="top"><img src="images/portofoliu/gesturetek_details.gif" alt="" title="" border="0"/></td>
    </tr>
    <tr>
        <td align="center" valign="top">
            <p>&quot;ATELIER IMAGE este dealer strategic exclusiv in Romania al companiei 
                GestureTek - liderul mondial in afisajul controlat de computer si 
                tehnologii interactive de digital signage.</p>
            <p>Ne propunem sa alimentam revolutia digital signage aducand interactivitate 
                solutiilor existente.
            </p>
            <p>Va oferim echipamente de ultima tehnologie de la inventatorul acesteia, 
                soft, creativitate, design si suport pentru proiecte cu adevarat 
                spectaculoase.
            </p>
            <p>Welcome to the future!&quot;...
                <a href="http://gesturetek-romania.blogspot.com/" rel="nofollow" target="_blank">Vezi tot articolul</a>
            </p>
            <p>Compania ATELIER IMAGE a avut initiativa in colaborarea cu noi pentru 
                dezvoltarea proiectului GestureTek Romania. Au fost realizate o serie de 
                machete grafice pentru website, dar, din pacate, Web Leviatan nu a fost 
                firma care a finalizat proiectul.
            </p>
            <p>Adresa website: <a href="http://gesturetek-romania.blogspot.com/" rel="nofollow" target="_blank">gesturetek-romania</a></p>
        </td>
    </tr>
</table>
