<table cellspacing="5" cellpadding="5" border="0" style="width:100%">
    <tr>
        <td style="width:100px;" valign="top" align="center">
            <a href="#portofoliu-concept-logo/alyana">
                <img src="images/portofoliu/alyanai_logo.jpg" alt="Alyana" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect." border="0"/>
            </a>
        </td>
        <td valign="top" align="left">
            <h3>
                <a href="#portofoliu-concept-logo/alyana" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    Alyana
                </a>
            </h3>
            <h4>mai 2010</h4>
            <p></p>
            <p class="more_details">
                <a href="#portofoliu-concept-logo/alyana" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    &raquo;&nbsp;mai multe detalii
                </a>
            </p>
        </td>
    </tr>

    <tr>
        <td style="width:100px;" valign="top" align="center">
            <a href="#portofoliu-concept-logo/la-carnaval">
                <img src="images/portofoliu/la_carnaval_logo.jpg" alt="Hai cu noi la carnaval" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect." border="0"/>
            </a>
        </td>
        <td valign="top" align="left">
            <h3>
                <a href="#portofoliu-concept-logo/la-carnaval" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    Hai cu noi la carnaval
                </a>
            </h3>
            <h4>noiembrie 2009</h4>
            <p></p>
            <p class="more_details">
                <a href="#portofoliu-concept-logo/la-carnaval" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    &raquo;&nbsp;mai multe detalii
                </a>
            </p>
        </td>
    </tr>

    <tr>
        <td style="width:100px;" valign="top" align="center">
            <a href="#portofoliu-concept-logo/unique-touch">
                <img src="images/portofoliu/unique_touch_logo.jpg" alt="Unique Touch" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect." border="0"/>
            </a>
        </td>
        <td valign="top" align="left">
            <h3>
                <a href="#portofoliu-concept-logo/unique-touch" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    Unique Touch
                </a>
            </h3>
            <h4>martie 2009</h4>
            <p></p>
            <p class="more_details">
                <a href="#portofoliu-concept-logo/unique-touch" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    &raquo;&nbsp;mai multe detalii
                </a>
            </p>
        </td>
    </tr>

    <tr>
        <td style="width:100px;" valign="top" align="center">
            <a href="#portofoliu-concept-logo/3g-sport">
                <img src="images/portofoliu/3g_sport_logo.jpg" alt="3G Sport" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect." border="0"/>
            </a>
        </td>
        <td valign="top" align="left">
            <h3>
                <a href="#portofoliu-concept-logo/3g-sport" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    3G Sport
                </a>
            </h3>
            <h4>februarie 2009</h4>
            <p></p>
            <p class="more_details">
                <a href="#portofoliu-concept-logo/3g-sport" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    &raquo;&nbsp;mai multe detalii
                </a>
            </p>
        </td>
    </tr>

    <tr>
        <td style="width:100px;" valign="top" align="center">
            <a href="#portofoliu-concept-logo/lakroitoria">
                <img src="images/portofoliu/lakroitoria_logo.jpg" alt="LaKroitoria" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect." border="0"/>
            </a>
        </td>
        <td valign="top" align="left">
            <h3>
                <a href="#portofoliu-concept-logo/lakroitoria" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    LaKroitoria
                </a>
            </h3>
            <h4>februarie 2009</h4>
            <p></p>
            <p class="more_details">
                <a href="#portofoliu-concept-logo/lakroitoria" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    &raquo;&nbsp;mai multe detalii
                </a>
            </p>
        </td>
    </tr>

    <tr>
        <td style="width:100px;" valign="top" align="center">
            <a href="#portofoliu-concept-logo/atelier-image">
                <img src="images/portofoliu/atelier_image_logo.jpg" alt="Atelier Image" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect." border="0"/>
            </a>
        </td>
        <td valign="top" align="left">
            <h3>
                <a href="#portofoliu-concept-logo/atelier-image" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    Atelier Image
                </a>
            </h3>
            <h4>ianuarie 2009</h4>
            <p></p>
            <p class="more_details">
                <a href="#portofoliu-concept-logo/atelier-image" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    &raquo;&nbsp;mai multe detalii
                </a>
            </p>
        </td>
    </tr>

    <tr>
        <td style="width:100px;" valign="top" align="center">
            <a href="#portofoliu-concept-logo/focus-energetic">
                <img src="images/portofoliu/focus_energetic_logo.jpg" alt="Focus Energetic" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect." border="0"/>
            </a>
        </td>
        <td valign="top" align="left">
            <h3>
                <a href="#portofoliu-concept-logo/focus-energetic" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    Focus Energetic
                </a>
            </h3>
            <h4>august 2008</h4>
            <p></p>
            <p class="more_details">
                <a href="#portofoliu-concept-logo/focus-energetic" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    &raquo;&nbsp;mai multe detalii
                </a>
            </p>
        </td>
    </tr>

    <tr>
        <td style="width:100px;" valign="top" align="center">
            <a href="#portofoliu-concept-logo/asociatia-scoala-succesului">
                <img src="images/portofoliu/asociatia_scoala_succesului_logo.jpg" alt="Asociatia Scoala Succesului" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect." border="0"/>
            </a>
        </td>
        <td valign="top" align="left">
            <h3>
                <a href="#portofoliu-concept-logo/asociatia-scoala-succesului" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    Asociatia Scoala Succesului
                </a>
            </h3>
            <h4>iunie 2008</h4>
            <p></p>
            <p class="more_details">
                <a href="#portofoliu-concept-logo/asociatia-scoala-succesului" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    &raquo;&nbsp;mai multe detalii
                </a>
            </p>
        </td>
    </tr>

</table>
