<table cellspacing="5" cellpadding="5" border="0" style="width:100%">
    <tr>
        <td style="width:100px;" valign="top" align="center">
            <a href="#portofoliu-dezvoltare-web/amelia-ursache">
                <img src="images/portofoliu/amelia_ursache.jpg" alt="Amelia Ursache" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect." border="0"/>
            </a>
        </td>
        <td valign="top" align="left">
            <h3>
                <a href="#portofoliu-dezvoltare-web/amelia-ursache" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    Amelia Ursache
                </a>
            </h3>
            <h4>iulie 2010</h4>
            <p>
                &quot;Amelia Ursache si-a facut cunoscut numele in lumea modei prin stilul sau rebel si plin de glamour, reliefat intr-un 
                numar de colectii de succes create sub marca ce ii poarta numele.&quot; ...
                <a href="http://www.stilfeminin.ro/Designeri/Amelia-Ursache.html" rel="nofollow" target="_blank">Vezi tot articolul</a>
            </p>
            <p class="more_details">
                <a href="#portofoliu-dezvoltare-web/amelia-ursache" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    &raquo;&nbsp;mai multe detalii
                </a>
            </p>
        </td>
    </tr>

    <tr>
        <td style="width:100px;" valign="top" align="center">
            <a href="#portofoliu-dezvoltare-web/alyana">
                <img src="images/portofoliu/alyanai.jpg" alt="Alyana" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect." border="0"/>
            </a>
        </td>
        <td valign="top" align="left">
            <h3>
                <a href="#portofoliu-dezvoltare-web/alyana" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    Alyana
                </a>
            </h3>
            <h4>mai 2010</h4>
            <p></p>
            <p class="more_details">
                <a href="#portofoliu-dezvoltare-web/alyana" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    &raquo;&nbsp;mai multe detalii
                </a>
            </p>
        </td>
    </tr>

    <tr>
        <td style="width:100px;" valign="top" align="center">
            <a href="#portofoliu-dezvoltare-web/gesturetek">
                <img src="images/portofoliu/gesturetek.jpg" alt="Gesturetek" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect." border="0"/>
            </a>
        </td>
        <td valign="top" align="left">
            <h3>
                <a href="#portofoliu-dezvoltare-web/gesturetek" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    Gesturetek
                </a>
            </h3>
            <h4>decembrie 2009</h4>
            <p>
                &quot;ATELIER IMAGE este dealer strategic exclusiv in Romania al 
                companiei GestureTek - liderul mondial in afisajul controlat de 
                computer si tehnologii interactive de digital signage.&quot;...
                <a href="http://gesturetek-romania.blogspot.com/" rel="nofollow" target="_blank">
                    Vezi tot articolul
                </a>
            </p>
            <p class="more_details">
                <a href="#portofoliu-dezvoltare-web/gesturetek" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    &raquo;&nbsp;mai multe detalii
                </a>
            </p>
        </td>
    </tr>

    <tr>
        <td style="width:100px;" valign="top" align="center">
            <a href="#portofoliu-dezvoltare-web/la-carnaval">
                <img src="images/portofoliu/la_carnaval.jpg" alt="Hai cu noi la carnaval" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect." border="0"/>
            </a>
        </td>
        <td valign="top" align="left">
            <h3>
                <a href="#portofoliu-dezvoltare-web/la-carnaval" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    Hai cu noi la carnaval
                </a>
            </h3>
            <h4>noiembrie 2009</h4>
            <p>
                Datorita numarului in crestere a cererilor de inchiriere a 
                costumelor de carnaval din anul 2009, 
                &quot;Hai cu noi la carnaval&quot; a hotarat sa-si mareasca 
                piata de desfacere, optand astfel pentru realizarea unui 
                site de prezentare a costumelor realizate si a ofertei sale.
            </p>
            <p class="more_details">
                <a href="#portofoliu-dezvoltare-web/la-carnaval" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    &raquo;&nbsp;mai multe detalii
                </a>
            </p>
        </td>
    </tr>

    <tr>
        <td style="width:100px;" valign="top" align="center">
            <a href="#portofoliu-dezvoltare-web/unique-touch">
                <img src="images/portofoliu/unique_touch.jpg" alt="Unique Touch" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect." border="0"/>
            </a>
        </td>
        <td valign="top" align="left">
            <h3>
                <a href="#portofoliu-dezvoltare-web/unique-touch" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    Unique Touch
                </a>
            </h3>
            <h4>martie 2009</h4>
            <p>
                Proiect initiat pentru un vechi colaborator de-al nostru, 
                care dorea sa-si promoveze online tipografia pe care o 
                detinea in Londra, Marea Britanie.
            </p>
            <p class="more_details">
                <a href="#portofoliu-dezvoltare-web/unique-touch" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    &raquo;&nbsp;mai multe detalii
                </a>
            </p>
        </td>
    </tr>

    <tr>
        <td style="width:100px;" valign="top" align="center">
            <a href="#portofoliu-dezvoltare-web/3g-sport">
                <img src="images/portofoliu/3g_sport.jpg" alt="3G Sport" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect." border="0"/>
            </a>
        </td>
        <td valign="top" align="left">
            <h3>
                <a href="#portofoliu-dezvoltare-web/3g-sport" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    3G Sport
                </a>
            </h3>
            <h4>februarie 2009</h4>
            <p>
                Site de prezentare a serviciilor oferite de firma 3G SPORT, 
                specializata in construirea piscinelor si a terenurilor de sport.
            </p>
            <p class="more_details">
                <a href="#portofoliu-dezvoltare-web/3g-sport" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    &raquo;&nbsp;mai multe detalii
                </a>
            </p>
        </td>
    </tr>

    <tr>
        <td style="width:100px;" valign="top" align="center">
            <a href="#portofoliu-dezvoltare-web/lakroitoria">
                <img src="images/portofoliu/lakroitoria.jpg" alt="LaKroitoria" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect." border="0"/>
            </a>
        </td>
        <td valign="top" align="left">
            <h3>
                <a href="#portofoliu-dezvoltare-web/lakroitoria" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    LaKroitoria
                </a>
            </h3>
            <h4>februarie 2009</h4>
            <p>
                &quot;La Kroitoria este o companie specializata in realizarea de haine 
                si de accesorii promotionale.&quot;...
                <a href="http://lakroitoria.ro/" rel="nofollow" target="_blank">
                    Vezi tot articolul
                </a>
            </p>
            <p class="more_details">
                <a href="#portofoliu-dezvoltare-web/lakroitoria" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    &raquo;&nbsp;mai multe detalii
                </a>
            </p>
        </td>
    </tr>

    <tr>
        <td style="width:100px;" valign="top" align="center">
            <a href="#portofoliu-dezvoltare-web/atelier-image">
                <img src="images/portofoliu/atelier_image.jpg" alt="Atelier Image" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect." border="0"/>
            </a>
        </td>
        <td valign="top" align="left">
            <h3>
                <a href="#portofoliu-dezvoltare-web/atelier-image" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    Atelier Image
                </a>
            </h3>
            <h4>ianuarie 2009</h4>
            <p>
                &quot;Un eveniment ATELIER IMAGE nu este un eveniment ca toate celelalte. 
                Este un eveniment ce se bazeaza pe un CONCEPT. Pe o POVESTE.&quot;...
                <a href="http://atelierimage.ro/concept-eveniment.php" rel="nofollow" target="_blank">
                    Vezi tot articolul
                </a>
            </p>
            <p class="more_details">
                <a href="#portofoliu-dezvoltare-web/atelier-image" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    &raquo;&nbsp;mai multe detalii
                </a>
            </p>
        </td>
    </tr>

    <tr>
        <td style="width:100px;" valign="top" align="center">
            <a href="#portofoliu-dezvoltare-web/carti-vizita">
                <img src="images/portofoliu/carti_vizita.jpg" alt="Carti de vizita personalizate" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect." border="0"/>
            </a>
        </td>
        <td valign="top" align="left">
            <h3>
                <a href="#portofoliu-dezvoltare-web/carti-vizita" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    Carti de vizita personalizate
                </a>
            </h3>
            <h4>ianuarie 2009</h4>
            <p>
                Site-ul carti-vizita-personalizate.ro isi propune sa vina in 
                ajutorul celor care vor sa-si realizeze carti de vizita, 
                dupa anumite modele prestabilite, oferind si posibilitatea descarcarii 
                acestora, fara costuri cuplimentare.
            </p>
            <p class="more_details">
                <a href="#portofoliu-dezvoltare-web/carti-vizita" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    &raquo;&nbsp;
                    mai multe detalii
                </a>
            </p>
        </td>
    </tr>

    <tr>
        <td style="width:100px;" valign="top" align="center">
            <a href="#portofoliu-dezvoltare-web/travel-events">
                <img src="images/portofoliu/travel_events.jpg" alt="Travel events" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect." border="0"/>
            </a>
        </td>
        <td valign="top" align="left">
            <h3>
                <a href="#portofoliu-dezvoltare-web/travel-events" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    Travel events
                </a>
            </h3>
            <h4>ianuarie 2009</h4>
            <p></p>
            <p class="more_details">
                <a href="#portofoliu-dezvoltare-web/travel-events" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    &raquo;&nbsp;mai multe detalii
                </a>
            </p>
        </td>
    </tr>

    <tr>
        <td style="width:100px;" valign="top" align="center">
            <a href="#portofoliu-dezvoltare-web/powertek">
                <img src="images/portofoliu/powertek.jpg" alt="Powertek" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect." border="0"/>
            </a>
        </td>
        <td valign="top" align="left">
            <h3>
                <a href="#portofoliu-dezvoltare-web/powertek" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    Powertek
                </a>
            </h3>
            <h4>decembrie 2008</h4>
            <p>
                &quot;Powertek este dealerul oficial in Romania a celor mai 
                puternice nume din industria de constructii din lume: Hitachi, 
                Terex, Dressta Co. Ltd., Genie, Atlas Weyhausen etc.&quot;...
                <a href="http://www.powertek-company.ro/" rel="nofollow" target="_blank">
                    Vezi tot articolul
                </a>
            </p>
            <p class="more_details">
                <a href="#portofoliu-dezvoltare-web/powertek" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    &raquo;&nbsp;mai multe detalii
                </a>
            </p>
        </td>
    </tr>

    <tr>
        <td style="width:100px;" valign="top" align="center">
            <a href="#portofoliu-dezvoltare-web/traduceri">
                <img src="images/portofoliu/traduceri.jpg" alt="Traduceri din orice limba in orice limba" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect." border="0"/>
            </a>
        </td>
        <td valign="top" align="left">
            <h3>
                <a href="#portofoliu-dezvoltare-web/traduceri" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    Traduceri din orice limba in orice limba
                </a>
            </h3>
            <h4>noiembrie 2008</h4>
            <p>
                &quot;O traducere proasta poate crea situatii amuzante, sau 
                situatii penibile ce pot dauna grav imaginii creatorului sau. 
                Insa o traducere reusita poate pacali cititorul, facandu-l sa 
                creada ca este in fata unui original.&quot;...
                <a href="http://traduceri.leviatan.ro/" rel="nofollow" target="_blank">
                    Vezi tot articolul
                </a>
            </p>
            <p class="more_details">
                <a href="#portofoliu-dezvoltare-web/traduceri" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    &raquo;&nbsp;mai multe detalii
                </a>
            </p>
        </td>
    </tr>

    <tr>
        <td style="width:100px;" valign="top" align="center">
            <a href="#portofoliu-dezvoltare-web/nightbuyers">
                <img src="images/portofoliu/nightbuyers.jpg" alt="Nightbuyers" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect." border="0"/>
            </a>
        </td>
        <td valign="top" align="left">
            <h3>
                <a href="#portofoliu-dezvoltare-web/nightbuyers" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    Nightbuyers
                </a>
            </h3>
            <h4>noiembrie 2008</h4>
            <p>
                Ideea care a stat in spatele acestui proiect a fost oferirea 
                unor servicii de livrare produse la domiciliu, 
                in Bucuresti, pe timpul noptii.
            </p>
            <p class="more_details">
                <a href="#portofoliu-dezvoltare-web/nightbuyers" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    &raquo;&nbsp;mai multe detalii
                </a>
            </p>
        </td>
    </tr>

    <tr>
        <td style="width:100px;" valign="top" align="center">
            <a href="#portofoliu-dezvoltare-web/edess">
                <img src="images/portofoliu/edess.jpg" alt="L&rsquo;&Eacute;cole doctorale francophone en sciences sociales" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect." border="0"/>
            </a>
        </td>
        <td valign="top" align="left">
            <h3>
                <a href="#portofoliu-dezvoltare-web/edess" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    L&rsquo;&Eacute;cole doctorale francophone en sciences sociales
                </a>
            </h3>
            <h4>octombrie 2008</h4>
            <p>
                Scoala Doctorala Francofona de Stiinte Sociale - Bucuresti, intentioneaza sa ofere studentilor sai o serie de materiale ....
            </p>
            <p class="more_details">
                <a href="#portofoliu-dezvoltare-web/edess" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    &raquo;&nbsp;mai multe detalii
                </a>
            </p>
        </td>
    </tr>

    <tr>
        <td style="width:100px;" valign="top" align="center">
            <a href="#portofoliu-dezvoltare-web/ummagumma">
                <img src="images/portofoliu/ummagumma.jpg" alt="Ummagumma" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect." border="0"/>
            </a>
        </td>
        <td valign="top" align="left">
            <h3>
                <a href="#portofoliu-dezvoltare-web/ummagumma" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    Ummagumma
                </a>
            </h3>
            <h4>septembrie 2008</h4>
            <p>
                &quot;Ummagumma marcheaza inceputul fandoseliculturii. Cultura 
                hainelor si a fandoselilor. Cultura hainelor create de tineri 
                creatori, serie mica sau unicat. Cultura fandoselilor ...&quot;...
                <a href="http://ummagumma.ro/" rel="nofollow" target="_blank">
                    Vezi tot articolul
                </a>
            </p>
            <p class="more_details">
                <a href="#portofoliu-dezvoltare-web/ummagumma" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    &raquo;&nbsp;mai multe detalii
                </a>
            </p>
        </td>
    </tr>

    <tr>
        <td style="width:100px;" valign="top" align="center">
            <a href="#portofoliu-dezvoltare-web/focus-energetic">
                <img src="images/portofoliu/focus_energetic.jpg" alt="Focus Energetic" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect." border="0"/>
            </a>
        </td>
        <td valign="top" align="left">
            <h3>
                <a href="#portofoliu-dezvoltare-web/focus-energetic" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    Focus Energetic
                </a>
            </h3>
            <h4>august 2008</h4>
            <p>
                Site-ul a fost dezvoltat cu scopul promovarii conferintei internationale 
                Focus Energetic Seminar &quot;Energy and its Influences in Economy&quot;, 
                ce a avut loc la Roma, Italia, in perioada 15 - 18 octombrie 2008.
            </p>
            <p class="more_details">
                <a href="#portofoliu-dezvoltare-web/focus-energetic" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    &raquo;&nbsp;mai multe detalii
                </a>
            </p>
        </td>
    </tr>

    <tr>
        <td style="width:100px;" valign="top" align="center">
            <a href="#portofoliu-dezvoltare-web/olarit">
                <img src="images/portofoliu/olarit.jpg" alt="Olarit" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect." border="0"/>
            </a>
        </td>
        <td valign="top" align="left">
            <h3>
                <a href="#portofoliu-dezvoltare-web/olarit" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    Olarit
                </a>
            </h3>
            <h4>iulie 2008</h4>
            <p>
                Olaritul este o ocupatie straveche ce se practica inca din 
                vremuri stravechi, marturie stand frumoasele vase de ceramica din epoca ...
            </p>
            <p class="more_details">
                <a href="#portofoliu-dezvoltare-web/olarit" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    &raquo;&nbsp;mai multe detalii
                </a>
            </p>
        </td>
    </tr>

    <tr>
        <td style="width:100px;" valign="top" align="center">
            <a href="#portofoliu-dezvoltare-web/tabara-de-vara">
                <img src="images/portofoliu/tabara_de_vara.jpg" alt="Tabara de vara" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect." border="0"/>
            </a>
        </td>
        <td valign="top" align="left">
            <h3>
                <a href="#portofoliu-dezvoltare-web/tabara-de-vara" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    Tabara de vara
                </a>
            </h3>
            <h4>iunie 2008</h4>
            <p>
                SCOALA SUCCESULUI – Tabara de vara pentru… parinti si copii, 
                este prima tabara de acest gen din Romania!
            </p>
            <p class="more_details">
                <a href="#portofoliu-dezvoltare-web/tabara-de-vara" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    &raquo;&nbsp;mai multe detalii
                </a>
            </p>
        </td>
    </tr>

    <tr>
        <td style="width:100px;" valign="top" align="center">
            <a href="#portofoliu-dezvoltare-web/asociatia-scoala-succesului">
                <img src="images/portofoliu/asociatia_scoala_succesului.jpg" alt="Asociatia Scoala Succesului" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect." border="0"/>
            </a>
        </td>
        <td valign="top" align="left">
            <h3>
                <a href="#portofoliu-dezvoltare-web/asociatia-scoala-succesului" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    Asociatia Scoala Succesului
                </a>
            </h3>
            <h4>iunie 2008</h4>
            <p>
                &quot;SUCCESUL consta in primul rand in A FI, nu doar A FACE!
                <br>
                Conteaza nu doar SA FACI ceva, ci si CUM FACI acel ceva!&quot;
            </p>
            <p class="more_details">
                <a href="#portofoliu-dezvoltare-web/asociatia-scoala-succesului" title="Apasati aici pentru a vedea mai multe detalii despre acest proiect.">
                    &raquo;&nbsp;mai multe detalii
                </a>
            </p>
        </td>
    </tr>

</table>
