<table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
        <td align="center" valign="top"><img src="images/portofoliu/nightbuyers_details.jpg" alt="" title="" border="0"/></td>
    </tr>
    <tr>
        <td align="center" valign="top">
            <p>Ideea care a stat in spatele acestui proiect a fost oferirea 
                unor servicii de livrare produse la domiciliu, in Bucuresti, 
                pe timpul noptii. Datorita neintelegerilor cu initiatorii acestor 
                tipuri de servicii (www.nightbuyers.ro, www.daybuyers.ro), 
                website-ul nu a fost publicat online, noi punandu-l doar pe 
                lista lucrarilor noastre.</p>
            <p>Adresa website: <a href="http://nightbuyers.leviatan.ro/" rel="nofollow" target="_blank">nightbuyers.leviatan.ro</a></p>
        </td>
    </tr>
</table>
