<table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
        <td align="center" valign="top">
            <h3 style="text-align: left; font-size: 20px; margin:10px;">Logo final</h3>
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                    <td align="center" valign="top">
                        <a href="images/portofoliu/atelier_image_final_logo_details.jpg" class="logo_concept">
                            <img src="images/portofoliu/atelier_image_final_logo_details.jpg" alt="Logo final Atelier Image" title="Logo final Atelier Image" style="width:180px; height:144px;"/>
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
