<table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
        <td align="center" valign="top"><img src="images/portofoliu/3g_sport_details.jpg" alt="" title="" border="0"/></td>
    </tr>
    <tr>
        <td align="center" valign="top">
            <p>Website-ul prezinta serviciile oferite de firma 3G SPORT, 
                specializata in construirea piscinelor si a terenurilor de sport. 
                A fost dezvoltat si un CMS (Content Management System) care 
                ofera clientului posibilitatea de a modifica continutul paginilor, 
                de a dauga produse noi pe paginile de prezentare a piscinelor si a 
                echipamentelor sportive si de a adauga lucrari finalizate, afisate 
                si pozitionate pe o harta realizata folosind API-urile JavaScript d
                e la Google Maps.</p>
            <p>Adresa website: <a href="http://www.3gsport.ro" rel="nofollow" target="_blank">www.3gsport.ro</a></p>
        </td>
    </tr>
</table>
