<table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
        <td align="center" valign="top"><img src="images/portofoliu/tabara_de_vara_details.jpg" alt="" title="" border="0"/></td>
    </tr>
    <tr>
        <td align="center" valign="top">
            <p>SCOALA SUCCESULUI – Tabara de vara pentru… parinti si copii, 
                este prima tabara de acest gen din Romania!</p>
            <p>Adresa website: <a href="http://tabaradevara.leviatan.ro/" rel="nofollow" target="_blank">tabaradevara.leviatan.ro</a></p>
        </td>
    </tr>
</table>
