<table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
        <td align="center" valign="top"><img src="images/portofoliu/edess_details.jpg" alt="" title="" border="0"/></td>
    </tr>
    <tr>
        <td align="center" valign="top">
            <p>Website-ul prezinta informatii despre cum a fost infiintata Scoala 
                Doctorala Francofona de Stiinte Sociale - Bucuresti si despre 
                activitatile desfasurate in cadrul acesteia. Proiectul a constat 
                si in realizarea unui CMS (Content Management System), pentru 
                administrarea intregului continut al website-ului.</p>
            <p>Adresa website: <a href="http://www.edss.ro" rel="nofollow" target="_blank">www.edss.ro</a></p>
        </td>
    </tr>
</table>
