<table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
        <td align="center" valign="top"><img src="images/portofoliu/unique_touch_details.jpg" alt="" title="" border="0"/></td>
    </tr>
    <tr>
        <td align="center" valign="top">
            <p>Proiect initiat pentru un vechi colaborator de-al nostru, care dorea sa-si 
                promoveze online tipografia pe care o detinea in Londra, Marea Britanie. 
                Proiectul nu a fost finalizat.</p>
            <p>Adresa website: <a href="http://leviatan.ro/unique/" rel="nofollow" target="_blank">Unique Touch</a></p>
        </td>
    </tr>
</table>
