<table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
        <td align="center" valign="top"><img src="images/portofoliu/carti_vizita_details.jpg" alt="" title="" border="0"/></td>
    </tr>
    <tr>
        <td align="center" valign="top">
            <p>Website-ul carti-vizita-personalizate.ro isi propune sa vina in 
                ajutorul celor care vor sa-si realizeze carti de vizita, dupa 
                anumite modele prestabilite, oferind si posibilitatea descarcarii 
                acestora, fara costuri cuplimentare.</p>
            <p>Adresa website: <a href="http://www.carti-vizita-personalizate.ro" rel="nofollow" target="_blank">www.carti-vizita-personalizate.ro</a></p>
        </td>
    </tr>

</table>
