<table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
        <td align="center" valign="top">
            <h3 style="text-align: left; font-size: 20px; margin:10px;">Logo final</h3>
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                    <td align="center" valign="top">
                        <a href="images/portofoliu/unique_touch_final_logo_details.jpg" class="logo_concept">
                            <img src="images/portofoliu/unique_touch_final_logo_details.jpg" alt="Logo final Unique Touch" title="Logo final Unique Touch" style="width:180px; height:144px;"/>
                        </a>
                    </td>
                </tr>
            </table>

            <h3 style="text-align: left; font-size: 20px; margin:10px;">Propuneri logo</h3>
            <table cellpadding="10" cellspacing="10" border="0" width="100%">
                <tr>         
                    <td align="center" valign="middle">
                        <a href="images/portofoliu/unique_touch_var_1_logo_details.jpg" class="logo_concept">
                            <img src="images/portofoliu/unique_touch_var_1_logo_details.jpg" alt="Propunere logo Unique Touch" title="Propunere logo Unique Touch" style="width:180px; height:144px;"/>
                        </a>
                    </td> 
                </tr>        
            </table>
        </td>
    </tr>
</table>
