<p>Graficienii Leviatan Web pot realiza la cererea dvs. atat <strong>creatii artistice rastru</strong>, 
    cat si o gama larga de <em><strong>imagini vectoriale</strong></em> (icon-uri, 
    desene de personaje, imagini vectoriale pentru coperti carti/reviste, benzi 
    desenate, reproduceri vectoriale ale unor imagini, poze, sigle).</p>
<p>In functie de natura proiectului, in unele cazuri este recomandata folosirea de 
    imagini vectoriale, în altele a imaginilor bitmap(rastru), iar alteori cele 
    doua formate pot fi folosite împreuna. O întelegere a avantajelor si limitarilor 
    fiecarei tehnologii si relatia dintre ele va duce la o utilizare optima a acestora.</p>

<h3 style="text-indent: 60px; margin-top: 50px;">Grafica vectoriala</h3>
<p><strong>Grafica vectoriala</strong> are marele avantaj de a nu-si pierde 
    calitatea cand este tiparita pe printuri de mari dimensiunim, ele putand 
    fi scalate. Folosirea editoarelor vectoriale este obligatorie in <em>serigrafie</em>, 
    <em>cutter-ploter</em>, <em>tampo</em> si <em>flexografie</em>.</p>
