<p><strong>Manipularea foto</strong> este o arta, <em><strong>o imbinare intre 
            fotografie si design</strong></em>. Combinand si amestecand mai multe 
            fotografii din care sa iasa una uimitoare nu este o sarcina usoara si 
            necesita cunostinte solide.</p>
<p>Graficienii Leviatan Web realizeaza si <strong>retus fotografic</strong> - 
    indepartarea petelor,a zgarieturilor sau a altor defecte ale fotografiei sau 
    a personajelor din fotografie. In cazul fotografiilor decolorate sau a celor alb 
    negru <em><strong>se poate face colorare</strong></em> astfel incat sa rezulte 
    <em><strong>fotografii color</strong></em>.</p>