<p><strong>Branding-ul</strong> reprezinta intreg procesul prin care noi, Leviatan Web, 
    iti cream o identitate pe piata.</p>
<p>In marea involburata a afacerilor, locul confortabil in care vrei sa te afli 
    este mintea consumatorului - <em><strong>sa stie exact cine esti</strong></em> 
    si <em><strong>cum sa te identifice</strong></em>.</p>
<p>Ca sa devii o prezenta permanenta si neiritanta in mintea lui, in care sa aiba 
    incredere si deschidere, ai nevoire de o <em><strong>pozitionare clara</strong></em> 
    si <em><strong>o identitate unica pe piata</strong></em>.</p>
<p>Pozitionarea este locul pe care il ocupa brandul tau in perceptia consumatorului, 
    construita cu ajutorul identitatii vizuale – <em><strong>nume firma</strong></em>, 
    <em><strong>logo</strong></em>, <em><strong>slogan</strong></em>, 
    <em><strong>set complet de stationary (plic, carti de vizita, foi cu antet, prezentatari CD, etc)</strong></em>.</p>

<h3 style="text-indent: 60px; margin-top: 50px;">Logo Design, Creare sigla</h3>
<p>In general, exista mai multe tipuri de logo (sigla firma). Amintim doar 
    de <strong><u>logo grafic</u></strong>, o imagine abstracta, o forma geometrica 
    (Nike etc.) sau <strong><u>logo text</u></strong>, bazat pe numele companiei 
    si un font special, unic (Coca Cola, Sony etc.). Sau un logo ce combina 
    grafica si textul intr-o maniera distinctiva. Avem o echipa profesionista, 
    cu idei creative, ce realizeaza design logo, conceptie sigla, de inalta 
    calitate, sigla pentru firme, logo design pentru toate tipurile de afaceri.</p>
<p>Pentru o firma, logo / sigla, reprezinta identitatea vizuala a acesteia. 
    Va aparea in toate documentele in antet, pe website-ul firmei, pe cartile 
    de vizita, in diverse pliante sau mape despre companie.</p>
<p>De aceea e foarte important sa alegem culorile si formele potrivite cu 
    activitatea fiecarui client si cu mesajul pe care vrea sa-l transmita 
    prin intermediul acestui logo. Vom crea mai multe variante de sigla, 
    iar clientul o va alege pe cea care-l reprezinta cel mai bine vizual. 
    Logo-ul pe care-l furnizam va fi si in format vectorial, astfel incat 
    clientul il poate folosi ulterior la orice dimensiune, fara a-i deforma calitatea.</p>
