<h3 style="text-align: left; font-size: 20px; margin:10px;">Servicii incluse:</h3>
<p>1. Asistenta inregistrare domeniu si gazduire web</p>
<p>2. Consultanta design si structura site</p>
<p>3. Pagina web principala personalizata</p>
<p>4. Pagini web secundare: pana la 25</p>
<p>5. Harta site</p>
<p>6. Imagini optimizate: pana la 50</p>
<p>7. Meniu de navigare animat</p>
<p>8. Banner animat</p>
<p>9. Formular dinamic pentru contact</p>
<p>10. Script de contorizare vizitatori, monitorizare trafic</p>
<p>11. Optimizare SEO on-page</p>
<p>12.	Galerie foto: pana la 50</p>
<p>13.	Galerie video: pana la 20</p>
<p>14.	Formular dinamic de abonare newsletter</p>
<p>15.	Baze de date</p>
<p>16.	Modul de administrare (CMS - Content Management System)</p>
<p>17.	Motor de cautare intern</p>
<p>18.	Modul de inscriere clienti</p>
<p>19.	Modul de autentificare clienti</p>
<p>20.	Cos cumparaturi</p>
<p>21.	Categorii si subcategorii de produse introduse initial: pana la 20</p>
<p>22.	Produse introduse initial: pana la la 50</p>
<p style="text-align: right;"><strong>Durata de dezvoltare</strong>: peste 25 zile</p>