<h3 style="text-align: left; font-size: 20px; margin:10px;">I. Intalnire preliminara:</h3>
<p>1. Evaluarea proiectului dumneavoastra si stabilirea de comun acord a pachetului 
    de servicii, in functie de:</p>
<ul>
    <li>tipul website-ului pe care-l doriti;</li>
    <li>tipurile de servicii pe care le ofera firma dumneavoastra;</li>
    <li>functionalitatile pe care le doriti in website-ul dumneavoastra;</li>
    <li>alte cerinte;</li>
    <li>aceasta intalnire se va tine dupa ce dumneavoastra ati primit si 
        completat documentul <a href="site_briefing.pdf" target="_blank">&quot;Site Briefing - intrebari preliminare&quot;</a>.
    </li>
</ul>

<h3 style="text-align: left; font-size: 20px; margin:10px;">II. Realizare versiune initiala design si structura logica site:</h3>
<p>1. Crearea a doua machete grafice, gratis, a website-ului, in functie de ceea ce 
    ati solicitat in intalnirea preliminara;</p>
<p>2. Crearea unei propuneri de structura logica, in conformitate cu informatiile 
    furnizate de dumneavoastra;</p>
<p>3. Punerea la dispozitia dumneavoastra a machetelor grafice si a propunerilor 
    de structura logica, pentru comentarii / observatii in scopul validarii/agrearii 
    unei versiuni finale.</p>

<h3 style="text-align: left; font-size: 20px; margin:10px;">III. Intalnire cu dumneavoastra pentru observatii / comentarii:</h3>
<p>1. Prezentarea comentariilor / observatiilor dumneavoastra, cu privire la 
    machetele grafice si la structura logica a website-ului;</p>
<p>2. Stabilirea modificarilor necesare a fi facute machetei grafice alese si 
    structurii logice a website-ului;</p>
<p>3. Realizarea modificarilor, de catre noi, a modificarilor stabilite la punctul 2.</p>

<h3 style="text-align: left; font-size: 20px; margin:10px;">IV. Realizare versiune finala design si structura, oferta servicii si contract:</h3>
<p>1. Prezentare design si structura logica refacute, conform cerintelor dumneavoastra;</p>
<p>2. Semnare <a href="mailto:marius.postolache@leviatan.ro?Subject=Request:%20nota%20acceptanta" target="_top">&quot;Nota de acceptanta&quot;</a> design si structura;</p>
<p>3. Oferta de preturi pe baza machetei grafice si a structurii logice a website-ului;</p>
<p>4. Semnarea <a href="mailto:marius.postolache@leviatan.ro?Subject=Request:%20contract" target="_top">contractului de prestari servicii</a>;</p>
<p>5. Facturare avans 20% din pretul proiectului, conform contractului de la punctul 4.</p>

<h3 style="text-align: left; font-size: 20px; margin:10px;">V. Dumneavoastra furnizati continutul pentru proiect:</h3>
<p>1. Conceperea paginilor cu datele despre dumneavoastra pe care doriti sa le 
    prezentati pe website - in format electronic (.doc sau .txt);</p>
<p>2. Definirea cat mai completa a serviciilor / produselor dumneavoastra (lista 
    ce va contine preturile, categoriile, descrierea sau producatorii produselor 
    si serviciile oferite de dumneavoastra) - in format electronic (.doc, .txt sau 
    .xls);</p>
<p>3. Imaginile produselor / serviciilor dumneavoastra - in format electronic (.jpg, .png., .gif, .psd etc.);</p>
<p>4. Elaborarea unui document din care sa reiasa conditiile si tarifele de 
    expeditie (in cazul unui magazin virtual) - in format electronic (.doc);</p>
<p>5. Asigurarea asupra legalitatii comercializarii produselor sau serviciilor dumneavoastra.</p>

<h3 style="text-align: left; font-size: 20px; margin:10px;">VI. Crearea website-ului, versiune cu acces limitat:</h3>
<p>1. Integrare continut in designul si structura agreate;</p>
<p>2. Dumneavoastra aveti posibilitatea de a urmari si testa website-ul pe toata perioada dezvoltarii lui.</p>

<h3 style="text-align: left; font-size: 20px; margin:10px;">VII. Publicare online:</h3>
<p>1. Semnarea <a href="mailto:marius.postolache@leviatan.ro?Subject=Request:%20proces%20verbal" target="_top">&quot;Procesului verbal de predare-primire&quot;</a> 
    pentru versiunea finala a website-ului;</p>
<p>2. Instalarea website-ului pe server-ul dumneavoastra;</p>
<p>3. Punerea la dispozitia dumneavoastra a materialelor prelucrate / procesate 
    pentru realizarea website-ului, pe suport optic (CD sau DVD);</p>
<p>4. Facturarea restului de plata, 80% din pretul proiectului, conform contractului, 
    in termen de 5 zile de la data semnarii 
    <a href="mailto:marius.postolache@leviatan.ro?Subject=Request:%20proces%20verbal" target="_top">&quot;Procesului verbal de predare-primire&quot;</a>.</p>

<h3 style="text-align: left; font-size: 20px; margin:10px;">VIII. Suport si intretinere:</h3>
<p>1. Suport tehnic pentru eventualele dificultati intampinate;</p>
<p>2. Alte cerinte / modificari care nu au fost incluse in contractul initial, 
    pe baza de act aditional la contract. Preturile sunt stabilite dupa inaintarea 
    unui document de tip <a href="mailto:marius.postolache@leviatan.ro?Subject=Request:%20solicitare%20solutionare" target="_top">&quot;Solicitare de solutionare&quot;</a>;</p>
<p>3. Suportul si intretinerea vor fi gratuite, in prima luna dupa semnarea 
    <a href="mailto:marius.postolache@leviatan.ro?Subject=Request:%20proces%20verbal" target="_top">&quot;Procesului verbal de predare-primire&quot;</a> 
    a versiunii finale a website-ului.</p>