<p>Oferta noastra de servicii de dezvoltare web include patru pachete:</p>
<p>
    <a href="#servicii-dezvoltare-web/pachet-standard" title="Apasati aici pentru a vedea mai multe detalii despre acest pachet de servicii.">WEB STANDARD</a> - pachet 
    destinat companiilor care doresc doar un site static, de prezentare. 
    El include si serviciul de optimizare SEO on-page.
</p>
<p class="more_details">
    <a href="#servicii-dezvoltare-web/pachet-standard" title="Apasati aici pentru a vedea mai multe detalii despre acest pachet de servicii.">
        &raquo;&nbsp;mai multe detalii
    </a>
</p>
<p>
    <a href="#servicii-dezvoltare-web/pachet-mediu" title="Apasati aici pentru a vedea mai multe detalii despre acest pachet de servicii.">WEB MEDIU</a> - pachet 
    destinat companiilor care doresc mai mult decat un site de prezentare. 
    Puteti prezenta clientilor mai multe informatii, pagini secundare, mai 
    multe imagini, sau puteti avea o galerie foto sau video pentru descrierea 
    produselor dumneavoastra. Pentru acest pachet bannerele sau meniurile pot fi animate.
</p>
<p class="more_details">
    <a href="#servicii-dezvoltare-web/pachet-mediu" title="Apasati aici pentru a vedea mai multe detalii despre acest pachet de servicii.">
        &raquo;&nbsp;mai multe detalii
    </a>
</p>
<p>
    <a href="#servicii-dezvoltare-web/pachet-business" title="Apasati aici pentru a vedea mai multe detalii despre acest pachet de servicii.">WEB BUSINESS</a> - include 
    toate serviciile din cadrul pachetului WEB MEDIU, dar pe langa acestea, mai 
    sunt oferite: formular de inscriere pentru newsletter, motor de cautare intern, 
    modul de administrare (CMS). Modulul de administrare va ofera posibilitatea de 
    a modifica oricand continutul site-ului, fara a fi nevoie de ajutorul unui 
    programator web.
</p>
<p class="more_details">
    <a href="#servicii-dezvoltare-web/pachet-business" title="Apasati aici pentru a vedea mai multe detalii despre acest pachet de servicii.">
        &raquo;&nbsp;mai multe detalii
    </a>
</p>
<p>
    <a href="#servicii-dezvoltare-web/pachet-portal" title="Apasati aici pentru a vedea mai multe detalii despre acest pachet de servicii.">WEB PORTAL</a> - se adreseaza 
    companiilor care doresc, pe langa serviciile incluse in pachetul WEB BUSINESS, 
    prezentarea si vanzarea online a produselor lor.
</p>
<p class="more_details">
    <a href="#servicii-dezvoltare-web/pachet-portal" title="Apasati aici pentru a vedea mai multe detalii despre acest pachet de servicii.">
        &raquo;&nbsp;mai multe detalii
    </a>
</p>
<p>Pentru a vedea etapele de dezvoltare pentru proiectul dumneavoastra, 
    va rugam sa mergeti la pagina 
    <a href="#servicii-dezvoltare-web/modalitate-lucru" title="Apasati aici pentru a vedea mai multe detalii despre modalitatea noastra de lucru.">Dezvoltare web - modalitate de lucru</a>
</p>

<h3 style="text-indent: 60px; margin-top: 50px;">NOTA:</h3>
<p style="margin: 0;">
    &bull;&nbsp;estimarea pretului si a duratei de dezvoltare se face in functie de 
    complexitatea site-ului (numarul de imagini optimizate, numarul de categorii / 
    subcategorii si produse introduse initial, numarul de pagini secundare, servicii etc.);
</p>    
<p style="margin: 0;">
    &bull;&nbsp;costul final al site-ului va fi stabilit in urma discutiilor cu dumneavoastra;
</p>    
<p style="margin: 0;">
    &bull;&nbsp;pachetele noastre, prezentate mai sus, respectiv serviciile incluse in 
    acestea, pot fi modificate in functie de cerintele dumneavoastra;
</p>    
<p style="margin: 0;">
    &bull;&nbsp;durata de dezvoltare a site-ului va fi calculata din momentul 
    primirii materialelor de la dumneavoastra (text, imagini, video etc.).
</p>